
@model EntityLayer.Concrete.Satis
@{
    ViewBag.Title = "AddSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<center><h2>Satis Ekleme Sayfası</h2></center>
@using (Html.BeginForm("AddSatis", "Satis", FormMethod.Post))
{
    <br />
    <center><h2>Satis ekle</h2></center>
    <div class="form-group">
        @Html.Label("Yemek ")
        @Html.DropDownListFor(x => x.YemekID, (List<SelectListItem>)@ViewBag.vly, new
         { @class = "form-control", @onchange = "setFiyat('txt1', this);" })
        <br /><br />

        @Html.Label("fiyat gir ")
        <input type="text" placeholder="fiyat girin " id="txt1" />
        &nbsp; &nbsp;
        @*@Html.LabelFor(x => x.YemekAdet)*@
        <input type="number" placeholder="Adet girin" id="txt2" onkeyup="hesapla('txt1', 'txt2', 'txt3');" />
        &nbsp; &nbsp;
        @*@Html.LabelFor(x => x.MenuAdet)*@
        @*toplam*@
        <input type="text" id="txt3" />
        <br>  <br>
        <br>  <br>

        @Html.Label("Menü ")
        @Html.DropDownListFor(x => x.MenuID, (List<SelectListItem>)@ViewBag.vlm, new
         { @class = "form-control", @onchange = "setFiyat('txt4', this);" })
        <br /><br />

        @Html.Label("fiyat gir ")
        <input type="text" placeholder="fiyat girin " id="txt4" onkeyup="hesapla('txt4', 'txt5', 'txt6');" />
        &nbsp; &nbsp;
        @*@Html.LabelFor(x => x.YemekAdet)*@
        <input type="number" placeholder="Adet girin" id="txt5" onkeyup="hesapla('txt4', 'txt5', 'txt6');" />
        &nbsp; &nbsp;
        @*@Html.LabelFor(x => x.MenuAdet)*@
        @*toplam*@
        <input type="text" id="txt6" />
        <br>  <br>
        <br>  <br>

        @Html.Label("Tatli ")
        @Html.DropDownListFor(x => x.TatliID, (List<SelectListItem>)@ViewBag.vlt, new
         { @class = "form-control", @onchange = "setFiyat('txt7', this);" })
        <br /><br />

        @Html.Label("fiyat gir ")
        <input type="text" placeholder="fiyat girin " id="txt7" onkeyup="hesapla('txt7', 'txt8', 'txt9');" />
        &nbsp; &nbsp;
        @*@Html.LabelFor(x => x.YemekAdet)*@
        <input type="number" placeholder="Adet girin" id="txt8" onkeyup="hesapla('txt7', 'txt8', 'txt9');" />
        &nbsp; &nbsp;
        @*@Html.LabelFor(x => x.MenuAdet)*@
        @*toplam*@
        <input type="text" id="txt9" />
        <br>  <br>
        <br>  <br>

        @Html.Label("Salata")
        @Html.DropDownListFor(x => x.SalataID, (List<SelectListItem>)@ViewBag.vlsa, new
     { @class = "form-control" })
        <br /><br />
        @Html.Label("fiyat gir ")
        <input type="text" placeholder="fiyat girin " id="txt10" onkeyup="hesapla('txt10', 'txt11', 'txt12');" />
        &nbsp; &nbsp;
        @*@Html.LabelFor(x => x.YemekAdet)*@
        <input type="number" placeholder="Adet girin" id="txt11" onkeyup="hesapla('txt10', 'txt11', 'txt12');" />
        &nbsp; &nbsp;
        @*@Html.LabelFor(x => x.MenuAdet)*@
        @*toplam*@
        <input type="text" id="txt12" />
        <br>  <br>

        @Html.Label("Toplam")
        <input type="text" id="txt13" />
        <br /><br />

        <br /><br />
        <button type="button" id="kaydetButton" onclick="kaydet()">Kaydet</button>


        <script>
            function setFiyat(txtId, dropdown) {
                var fiyat = parseFloat(dropdown.options[dropdown.selectedIndex].innerText.match(/\((\d+)[₺$€]?\)/)[1]) || 0;
                document.getElementById(txtId).value = fiyat.toFixed(2);
            }

            function hesapla(fiyat, adet, toplamAlanId) {
                var fiyatDeger = parseFloat(document.getElementById(fiyat).value) || 0;
                var adetDeger = parseInt(document.getElementById(adet).value) || 0;
                var toplam = fiyatDeger * adetDeger;
                document.getElementById(toplamAlanId).value = toplam.toFixed(2);
                document.getElementById('txt13').value = (parseInt(document.getElementById('txt3').value) || 0) + (parseInt(document.getElementById('txt6').value) || 0) + (parseInt(document.getElementById('txt9').value) || 0) + (parseInt(document.getElementById('txt12').value) || 0)
            }

            var kaydetButton = document.getElementById("kaydetButton");
            kaydetButton.style.backgroundColor = "#000000";
            kaydetButton.style.color = "white";
            kaydetButton.style.border = "none";
            kaydetButton.style.padding = "10px 20px";
            kaydetButton.style.borderRadius = "5px";
        </script>
    </div>
}